@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9ca1f7;
}

.container{
    background-color: #fff;
    padding: 35px;
    width: 300px;
}

label{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}

textarea{
    margin-top: 8px;
}

.container h1{
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.container select, button{
    width: 100%;
    height: 40px;
    margin: 5px 0;
}

button{
    background-color: #675afe;
    color:#fff;
    text-transform: capitalize;
    font-size: 1.1rem;
    outline: none;
    border: none;
    cursor: pointer;
}